@model List<CineManagerWeb.Models.Sala>


@{
    ViewData["Title"] = "Programmazione Sale";
}

<div class="container py-5">
   
    <h2 class="mt-4">Sale Cinema Disponibili</h2>

    <table class="table table-striped mt-3" align="left">
        <thead class="table-dark">
            <tr>
                <th>Film</th>
                <th>Numero Sala</th>
                <th>Disponibilità</th>
                <th>Totale posti</th>
                <th>Posti Occupati</th>
                <th>Azione</th>
                <th>Prezzo</th>
                <th>Totale acquisto</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Film</td>
                    <td>Sala @s.NumeroSala</td>
                    <td>@s.PostiLiberi posti</td>
                    <td>@s.TotalePosti posti totali</td>
                    <td>@s.PostiOccupati posti occupati</td>
                    <td>
                        @if (s.PostiLiberi > 0)
                        {
                            <a href="/Cinema/Prenota?id=@s.Id" class="btn btn-primary">Prenota 1 Posto</a>
                        }
                        else
                        {
                            <span class="badge bg-danger">Esaurito</span>

                        }
                    </td>
                    <td>@s.PrezzoBiglietto €</td>
                    <td>@s.Incassi €</td>
                </tr>
            }
        </tbody>
    </table>
